In [ ]:
# List(Indexed,ordered,mutable,duplicate value,multiple)
# TUpule
# Dictionary
# set

In [2]:
l = list()
lis=[]
print(type(l))

<class 'list'>

In [5]:
data=[1,2,3,4,4,5,6]
type(data)
print(data)

[1, 2, 3, 4, 4, 5, 6]

In [10]:
data=["Aple","Mango","Kiwi","Banana"]
datas=["Book","Copy"]
data[-1]
print(data+datas)

['Aple', 'Mango', 'Kiwi', 'Banana', 'Book', 'Copy']

In [11]:
a=[1,2,3,4]
print(a*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
data=["Aple","Mango","Kiwi","Banana"]
datas= list("'Book','copy'")

print(data+datas)

['Aple', 'Mango', 'Kiwi', 'Banana', "'", 'B', 'o', 'o', 'k', "'", ',', "'", 'c', 'o', 'p', 'y', "'"]

In [15]:
data=["Aple","Mango","Kiwi","Banana"]
data[0]='apple'
data

['apple', 'Mango', 'Kiwi', 'Banana']

In [17]:
data=[1,2,3,4,4,5,6]
data[0:2]

[1, 2]

In [18]:
data=[1,2,3,4,4,5,6]
data[0:5:2]

[1, 3, 4]

In [20]:
data=list()
n=int(input("Enter n= "))
for i in range(n):
    x= input("Enter x= ")
    data= data+[x]
print(data)

Enter n= 3
Enter x= mohiin
Enter x= moon
Enter x= moo
['mohiin', 'moon', 'moo']

In [21]:
data=["Aple","Mango","Kiwi","Banana"]
for i in data:
    print(i)

Aple
Mango
Kiwi
Banana

In [27]:
data=["Aple","Mango","Kiwi","Banana"]
for i in data:
    if i == "Kiwi":
         continue
    print(i)

Aple
Mango
Banana

In [5]:
data=list()
n=int(input("Enter n= "))
for i in range(n):
    x= int(input("Enter x= "))
    data= data+[x]
print(data)   
data.sort()
print(data)
data.reverse()
print(data)

Enter n= 4
Enter x= 3
Enter x= 52
Enter x= 5
Enter x= 2
[3, 52, 5, 2]
[2, 3, 5, 52]
[52, 5, 3, 2]

In [32]:
min(data)

5

In [33]:
max(data)

33

In [34]:
sum(data)

74

In [9]:
data=["apple","zebra","ball","fish","1"]#suruma integer ki tw special char ani capital ani small
data.sort()
print(data)

['1', 'apple', 'ball', 'fish', 'zebra']

In [13]:
data=["apple","zebra","ball","fish","1","ball"]
print(len(data))
print(data.count("ball"))

6
2

In [19]:
for i in range(len(data)):
    print(data[i])

apple
zebra
ball
fish
1
ball

In [10]:
data=["apple","zebra","ball","fish","1","ball"]
for i in range(len(data)):
    if data[i]=="ball":
         print(i)

2
5

In [ ]:
# # Crud operation in list
# # append()
# # exchange()
# # insert()
# del
# remove
# pop

In [11]:
a=["Ram","Shyam","Hari","Gita","Sita"]
a.append("Sabin")
print(a)

['Ram', 'Shyam', 'Hari', 'Gita', 'Sita', 'Sabin']

In [13]:
a=["Ram","Shyam","Hari","Gita","Sita"]
b=["Nabin","Roshan"]
a.extend(b)
print(a)

['Ram', 'Shyam', 'Hari', 'Gita', 'Sita', 'Nabin', 'Roshan']

In [15]:
a=["Ram","Shyam","Hari","Gita","Sita"]
a.insert(2,"Ronish")
print(a)

['Ram', 'Shyam', 'Ronish', 'Hari', 'Gita', 'Sita']

In [17]:
data=list()
n=int(input("Enter n= "))
for i in range(n):
    x= int(input("Enter x= "))
    data.append(x)
print(data)

Enter n= 2
Enter x= 67
Enter x= 78
[67, 78]

In [19]:
a=["Ram","Shyam","Hari","Gita","Sita"]
del a[1]
print(a)

['Ram', 'Hari', 'Gita', 'Sita']

In [21]:
a=["Ram","Shyam","Hari","Gita","Sita"] #can delete multiple data
del a[0:2]
print(a)

['Hari', 'Gita', 'Sita']

In [22]:
a=["Ram","Shyam","Hari","Gita","Sita"] #only removes single data
a.remove("Sita")
print(a)

['Ram', 'Shyam', 'Hari', 'Gita']

In [26]:
a=["Ram","Shyam","Sita","Hari","Gita","Sita"]
for i in a:
    if i=="Sita": #if i ==name: a.remove(name)
        a.remove("Sita")
print(a)

['Ram', 'Shyam', 'Hari', 'Gita']

In [37]:
name=["Ram","Shyam","Sita","Hari","Gita","Sita"] #only removes single data
n=input("Enter name ")
for i in name:
    if i ==name:
        a.remove(name)
       
print(a)

Enter name Sita
['Ram', 'Shyam', 'Hari', 'Gita']

In [36]:
a=["Ram","Shyam","Hari","Gita","Sita"]
b= a.pop(4)
print(a)
print(b)

['Ram', 'Shyam', 'Hari', 'Gita']
Sita

In [39]:
a="Apple 200 3 600\nBanana 100 2 200"
b=a.split('\n')
print(b)
print(b[0])

['Apple 200 3 600', 'Banana 100 2 200']
Apple 200 3 600

In [43]:
a=[["Apple",200,3,600],["Banana", 100, 2, 200]]
print(a)

[['Apple', 200, 3, 600], ['Banana', 100, 2, 200]]

In [44]:
print(a[0])

['Apple', 200, 3, 600]

In [47]:
print(a[0][0])

Apple

In [49]:
print(a[0][3])

600

In [50]:
print(a[1][0])

Banana

In [53]:
data=[]
n=int(input("Enter n ="))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=(input("Enter add= "))
    info=[name,age,add]
    data.append(info)
print(data)

Enter n =2
Enter name= rr
Enter age= 4
Enter add= d
Enter name= rr
Enter age= 3
Enter add= rr
[['rr', 4, 'd'], ['rr', 3, 'rr']]

In [55]:
data=[]
n=int(input("Enter n ="))
for i in range(1,n+1):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=(input("Enter add= "))
    info=[i,name,age,add]
    data.append(info)
print(data)

Enter n =2
Enter name= uy
Enter age= 7
Enter add= ht
Enter name= yy
Enter age= 6
Enter add= jh
[[1, 'uy', 7, 'ht'], [2, 'yy', 6, 'jh']]

In [6]:
data=[[1,"Ram",34,"ktm"],[2,"Shyam",34,"Lalitpur"]]
name = input("Enter name=")
for i in data:
     if  name in i:
       print(i)

Enter name=Ram
[1, 'Ram', 34, 'ktm']

In [1]:
data=[[1,"Ram",34,"ktm"],[2,"Shyam",34,"Lalitpur"]]
name = input("Enter name=")
for i in data:
     if  name in i:
        data.remove(i)
print(data)

Enter name=Ram
[[2, 'Shyam', 34, 'Lalitpur']]

In [5]:
data=[[1,"Ram",34,"ktm"],[2,"Shyam",34,"Lalitpur"]]
name = input("Enter name=")
for i in range(len(data)):
     if  name in data[i]:
       print(i)

Enter name=Ram
0

In [7]:
data=[[1,"Ram",34,"ktm"],[2,"Shyam",34,"Lalitpur"]]
data[0][1]="Ramu"
print(data)

[[1, 'Ramu', 34, 'ktm'], [2, 'Shyam', 34, 'Lalitpur']]

In [10]:
data=[[1,"Ram",34,"ktm"],[2,"Shyam",34,"Lalitpur"]]
data[0]=[1,"Raj","24","Butwal"]
print(data)

[[1, 'Raj', '24', 'Butwal'], [2, 'Shyam', 34, 'Lalitpur']]

In [ ]:
# WAP to develop a billing application(CRUD)
# WAP to develop result managmnet system
# WAP to develop a matrix
# ['Apple 200 3 600']
# to
# [['Apple',200,3,600]]

In [ ]:
a=[]
c=int(input("Enter c= "))
r=int(input("Enter r= ")) #split only in string
for i in range(r):
    b=[]
    for j in range(c):
        x=int(input("Enter x= "))
        b.append(x)
    a.append(b)
print(a)

data=[[1,"Ram",34,"ktm"]
a[0][1]=int(a[0][1])

In [5]:
# Tuple
# Indexed,Ordered,Multiple data,
# Duplicate data,Immutable

In [6]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [7]:
a=("Apple",)
 print(type(a)) #pachadi , jodne euta ko case ma

<class 'tuple'>

In [9]:
a="Ram"
a=a+"Shyam"
print(a)

RamShyam

In [15]:
data=("apple","zebra","ball","fish","1")
print(sorted(data))
print(data)

['1', 'apple', 'ball', 'fish', 'zebra']
('apple', 'zebra', 'ball', 'fish', '1')

In [17]:
data=["apple","zebra","ball","fish","1"]
b=list(data)
print(b)

['apple', 'zebra', 'ball', 'fish', '1']

In [22]:
data=["apple","zebra","ball","fish","1"]
b=list(data)
b.remove("zebra")
a=tuple(b)
print(a)

('apple', 'ball', 'fish', '1')

In [ ]:
# min() max() sum() index() search read

In [23]:
data=["apple","zebra","ball","fish","1"]
a.index("apple")

0

In [25]:
data=["apple","zebra","ball","fish","1"]
for i in data:
    print(i)

apple
zebra
ball
fish
1

In [3]:
data=["apple","zebra","ball","fish","1"]
if "apple" in data:
    print("Yes")

In [2]:
data=()
n=int(input("Enter n= "))

for i in range(n):
    x=int(input("Enter x= "))
    data = data+(x,)
print(data)

Enter n= 6
Enter x= 7
Enter x= 6
Enter x= 5
Enter x= 4
Enter x= 3
Enter x= 2
(7, 6, 5, 4, 3, 2)

In [13]:
def hello():
    return "Hello","World"
print(hello())

('Hello', 'World')

In [15]:
def hello(z):
    print(z[0],z[1])
t=("Hello","World")
hello(t)

Hello World

In [ ]:
#tuple inside tupule
data=()
n=int(input("Enter n ="))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=(input("Enter add= "))
    info=(name,age,add)
    data=data+(info,)
    
print(data)

Enter n =2

In [1]:
#tupule inside tuple to list inside list
a=((1,2,3),(4,5,6),(8,9,0))
b=[list(x) for x in a] 
print(b)

[[1, 2, 3], [4, 5, 6], [8, 9, 0]]

In [7]:
#tupule inside list
a=[(1,2,3),(4,5,6),(8,9,0)]
a[0]=(1,2,33)
print(a)

[(1, 2, 33), (4, 5, 6), (8, 9, 0)]