In [1]:
# for
# while

In [ ]:
# range()
# range(1,5,2) (i=0;i<5;i=i+2)

In [15]:
for i in range(1,6,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world

In [18]:
# sum of n strings
s=""
n=int(input("Enter n ="))
for i in range(n):
    x= (input("Enter x="))
    s=s+x+" "
print(s)

Enter n =2
Enter x=moon
Enter x=mohini
moon mohini

In [1]:
s=0
n=int(input("Enter n ="))
for i in range(n):
    x= int(input("Enter x="))
    s=s+x
    print(s)

Enter n =3
Enter x=3
3
Enter x=4
7
Enter x=5
12

In [20]:
s=""
n=int(input("Enter n ="))
for i in range(n):
    name= (input("Enter name="))
    phone= (input("Enter phone="))
    s=s+name+" "+phone+"\n"
print(s)

Enter n =2
Enter name=moon
Enter phone=876543
Enter name=mohini
Enter phone=987654
moon 876543
mohini 987654

In [ ]:
# WAP to calculate factorial of  numbers
# WAP to calculate total amount of a bill

In [10]:

n=int(input("Enter any no: " ))
fact=1
for i in range(1,n+1):
    fact=fact*i
    
    
    

print("the factorial is",fact)

Enter any no: 5
the factorial is 120

In [1]:
items=int(input("Enter the no of items: "))
s=""
all_total = 0
for i in range(items):
    product=input("Enter the product: ")
    price=int(input("Enter the price :"))
    quantity=float(input("Enter the quantity: "))
    total= price*quantity
    s=s+(product)+" "+str(price)+" "+str(quantity)+ " "+str(total)+"\n"
    all_total=all_total+total
print("The bill is =\n",s)
print("All total=",all_total)

Enter the no of items: 2
Enter the product: milk
Enter the price :100
Enter the quantity: 2
Enter the product: bread
Enter the price :50
Enter the quantity: 1
The bill is =
 milk 100 2.0 200.0
bread 50 1.0 50.0

All total= 250.0

##

In [4]:
s=0
i=0
n=int(input("Enter n= "))
while i<n:
  x =int(input("Enter x= "))
  s=s+x
  i=i+1
print(s)

Enter n= 2
Enter x= 4
Enter x= 6
10

<!-- control statement
break
continue
pass -->

In [5]:
a="Python "
for i in a:
    print(i)

P
y
t
h
o
n

In [1]:
a="Python "
for i in a:
    print(i,end=" ")

P y t h o n

In [18]:
a="Hello World"
for i in a:
    if i != "e" and i!=" ":
     print(i)

H
l
l
o
W
o
r
l
d

In [3]:
a = "Hello World"
for i in a:
    if i ==" ":
        break
    print(i,end=" ")

H e l l

In [2]:
i=0
s=""
n=int(input("Enter n ="))
while i<=n:
    name=(input("Enter name="))
    phone= int(input("Enter phone="))
    s=s+str(name)+ " " + str(phone)+"\n"
    str(phone)
    
    i=i+1
print(s)

Enter n =2
Enter name=mohini
Enter phone=89876543456
Enter name=moon
Enter phone=9876543
Enter name=ram
Enter phone=9876543
mohini 89876543456
moon 9876543
ram 9876543

In [21]:
# Multiplication table
x= int(input("Enter x= "))
for i in range(1,11):
  print(x,"*",i,"=",x*i)

Enter x= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# WAP to find the if the given no is prime or composite
# WAP to draw patterns:
# *
# **
# ***
# ****
# *****
# WAP to remove all digits from a given strings(0-9)
# WAP to make a result managment system

In [19]:
num = int(input("Enter any number : "))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is Composite number")
            break
    else:
        print(num, "is a PRIME number")
elif num == 0 or 1:
    print(num, "is a neither prime NOR composite number")
else:
    print(num, "is NOT a prime number it is a COMPOSITE number")

Enter any number : 97
97 is a PRIME number

In [18]:
n=5
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [20]:
total=0
n=int(input("Enter n ="))
for i in range(n):
    name=(input("Enter the name of the student: "))
    m= int(input("Enter marks of maths: "))
    s=int(input("Enter marks of science: "))
    n=int(input("Enter marks of nepali: "))
    e=int(input("Enter marks of english: "))
    sum = m+s+n+e
    All_total=int(total+sum)
    Percentage =int(All_total/4)
    print(Percentage,"%")

Enter n =2
Enter the name of the student: moon
Enter marks of maths: 60
Enter marks of science: 50
Enter marks of nepali: 500
Enter marks of english: 90
175 %
Enter the name of the student: mohini
Enter marks of maths: 90
Enter marks of science: 90
Enter marks of nepali: 90
Enter marks of english: 99
92 %

In [2]:
str=""
string=(input("Enter any string: "))
for i in range(0,len(string)):
    if (string[i]>="a" and string[i]<="z"):
        str+=string[i]
    
    
    
     

    
print(str)

Enter any string: 8uii8
uii