In [6]:
import mysql.connector as my
database=my.connect(
     host="localhost",
     user="root",
     password=""
)
db=database.cursor()
try:
    db.execute("CREATE DATABASE python_class")
except:
    print("The database is already present")

The database is already present

In [7]:
database.commit

In [5]:
import mysql.connector as my
database=my.connect(
     host="localhost",
     user="root",
     password="",
     database="class 2pm"
    
)
db=database.cursor()

In [8]:
sql="SELECT * FROM profile"
db.execute(sql)
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 80, 70, 66, 90, 89, 490, 70)

In [14]:
sql="INSERT INTO profile(name,physics,chemistry,english,nepali,biology,total,per) VALUES('Hari',80,90,89,70,70,400,80)"
db.execute(sql)
database.commit()

In [6]:
n=int(input("Enter n= "))
for i in range(n):
    Name=input("Enter name =")
    Physics=int(input("Enter physics ="))
    Chemistry=int(input("Enter chemistry="))
    English=int(input("Enter english ="))
    Nepali=int(input("Enter nepali="))
    Biology=int(input("Enter biology ="))
    Total = int(sum([Physics,Chemistry,English,Nepali,Biology]))
    Per =Total/5
    sql=f'''INSERT INTO profile(Name,Physics,Chemistry,English,Nepali,Biology,Total,Per) VALUES('{Name}',{Physics},{Chemistry},{English},{Nepali},{Biology},{Total},{Per})'''
    print(sql)
    db.execute(sql)

database.commit()

Enter n= 1
Enter name =Moom
Enter physics =90
Enter chemistry=90
Enter english =90
Enter nepali=90
Enter biology =90
INSERT INTO profile(Name,Physics,Chemistry,English,Nepali,Biology,Total,Per) VALUES('Moom',90,90,90,90,90,450,90.0)

IntegrityError: 1062 (23000): Duplicate entry '0' for key 'PRIMARY'

In [5]:

sql="DELETE FROM profile WHERE sn=1"
db.execute(sql)
database.commit()