In [ ]:
# Dictionary
# Indexed Ordered Multiple Values
# Duplicate Values
# Mutable

In [ ]:
d ={<key>:<values>}

In [2]:
d={'a':"Apple"}
print(d)
print(type(d))

{'a': 'Apple'}
<class 'dict'>

In [5]:
d={'a':"Apple","b":"Ball"}
print(d['b'])

Ball

In [6]:
d={'a':"Apple","b":"Ball","c":"Cat"}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [7]:
d={'a':"Apple","b":"Ball","b":"Cat"} #no duplicate key
print(d)

{'a': 'Apple', 'b': 'Cat'}

In [9]:
a={}
a["a"]="Ant"   #mutable
a["b"]="Ant"
a["c"]="Ant"
print(a)

{'a': 'Ant', 'b': 'Ant', 'c': 'Ant'}

In [16]:
info={}
n= int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    phone= input("Enter number= ")
    info[name]=phone
print(info)

Enter n= 2
Enter name= Mohini
Enter number= 9861879803
Enter name= Moon
Enter number= 98470334832
{'Mohini': '9861879803', 'Moon': '98470334832'}

In [18]:
d={'a':"Apple","b":"Ball","b":"Cat"} 
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Cat')

In [21]:
l=list()
d={'a':"Apple","b":"Ball","b":"Cat"} 
for i in d.items():
    l.append(i)
print(l)

[('a', 'Apple'), ('b', 'Cat')]

In [23]:
a= [('a', 'Apple'), ('b', 'Cat')]
print(dict(a))

{'a': 'Apple', 'b': 'Cat'}

In [25]:
d={'a':"Apple","b":"Ball","b":"Cat"}
d["a"]="Kiwi"
print(d)

{'a': 'Kiwi', 'b': 'Cat'}

In [ ]:
#del pop()
del d["a"]

In [30]:
d={'a':"Apple","b":"Ball","b":"Cat"}
d.pop("a")
print(d)

{'b': 'Cat'}

In [ ]:
#list tupule set dict as a value

In [34]:
#list inside dict
d={'Ram':["765434567","987654356"],
   'Shyam':['987654345',"87654799"]}
print(d)
print(len(d))
print(type(d))

{'Ram': ['765434567', '987654356'], 'Shyam': ['987654345', '87654799']}
2
<class 'dict'>

In [36]:
print(d["Ram"])
print(d["Ram"][0])

['765434567', '987654356']
765434567

In [37]:
d={'Ram':["765434567","987654356"],
   'Shyam':['987654345',"87654799"]}
for i in d.items():
    print(i)

('Ram', ['765434567', '987654356'])
('Shyam', ['987654345', '87654799'])

In [42]:
info={}
n= int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    ntc= input("Enter number1= ")
    ncell= input("Enter number2= ")
    info[name]=[ntc,ncell
               ]
print(info)

Enter n= 2
Enter name= Ram
Enter number1= 9837636366
Enter number2= 980003837
Enter name= Moon
Enter number1= 984770847
Enter number2= 9876543456
{'Ram': ['9837636366', '980003837'], 'Moon': ['984770847', '9876543456']}

In [50]:
d={'Ram': ['9837636366', '980003837'], 'Moon': ['984770847', '9876543456']}
d["Ram"][0]="98002734746"
del d["Moon"][0]                                                               #list inside dic
d["Ram"].pop(0)

print(d)

{'Ram': ['980003837'], 'Moon': ['9876543456']}

In [52]:
d={'Ram': ['9837636366', '980003837'], 'Moon': ['984770847', '9876543456']}
d["Ram"][0]="98002734746"
d["Moon"].append("876545")
print(d)

{'Ram': ['98002734746', '980003837'], 'Moon': ['984770847', '9876543456', '876545']}

In [3]:
#dic inside list
list=[]

n= int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    ntc= input("Enter number1= ")
    info ={"Name":name,"Number":ntc}
    list.append(info)
print(list)

Enter n= 2
Enter name= Mohini
Enter number1= 0987656789
Enter name= Moon
Enter number1= 098765
[{'Name': 'Mohini', 'Number': '0987656789'}, {'Name': 'Moon', 'Number': '098765'}]

In [9]:
list = [{'Name': 'Mohini', 'Number': '0987656789'}, {'Name': 'Moon', 'Number': '098765'}]
print(list[0]["Number"])
list[0]["Name"]="Ram"
print(list)

0987656789
[{'Name': 'Ram', 'Number': '0987656789'}, {'Name': 'Moon', 'Number': '098765'}]

In [16]:
list[1]["Telephone"]= 414450
print(list)

[{'Name': 'Ram', 'Number': '0987656789', 'Telephone': 414450}, {'Name': 'Moon', 'Number': '098765', 'Telephone': 414450}]

In [ ]:
# # dict inside dict
# d={<key>:{<key>:<value>}}

In [23]:
d={1:{"Name":'Ram Prashad','NTC':'9876534567',"NCELL":"9876543"},'2':{"Name":'Ram','NTC':'987653456',"NCELL":"98765439876"}}
print(d[1])

{'Name': 'Ram Prashad', 'NTC': '9876534567', 'NCELL': '9876543'}

In [3]:
#dict inside dict
data={}

n= int(input("Enter n= "))
for i in range(1,n+1):
    name = input("Enter name= ")
    ntc= input("Enter number1= ")
    ncell= input("Enter number2= ")
    data[i]={"Name":name,'NTC':ntc,"NCELL":ncell}
    
print(data)

Enter n= 2
Enter name= mohini
Enter number1= 9876
Enter number2= 987
Enter name= mm
Enter number1= 876
Enter number2= 98765
{1: {'Name': 'mohini', 'NTC': '9876', 'NCELL': '987'}, 2: {'Name': 'mm', 'NTC': '876', 'NCELL': '98765'}}

In [4]:
data[1]["Name"]="Mooo"
print(data)

{1: {'Name': 'Mooo', 'NTC': '9876', 'NCELL': '987'}, 2: {'Name': 'mm', 'NTC': '876', 'NCELL': '98765'}}

In [5]:
data[1]["NTC"]=[87654323456,98765432]
print(data)

{1: {'Name': 'Mooo', 'NTC': [87654323456, 98765432], 'NCELL': '987'}, 2: {'Name': 'mm', 'NTC': '876', 'NCELL': '98765'}}

In [11]:
d={1:{"Name":"Akash","Physics":{"Th":60,"Pr":20}},
 2:{"Name":"Shyam","Physics":{"Th":50,"Pr":25}}}
print(d)

{1: {'Name': 'Akash', 'Physics': {'Th': 60, 'Pr': 20}}, 2: {'Name': 'Shyam', 'Physics': {'Th': 50, 'Pr': 25}}}

In [21]:
#dict inside dict
data={}

n= int(input("Enter n= "))
for i in range(1,n+1):
    name = input("Enter name= ")
    Subject= input("Enter sub= ")
    Theory_marks= input("Enter th= ")
    Practical_marks= input("Enter prac= ")
    
    data[i]={"Name":name,"Subject":Subject,"Theory_marks":Theory_marks,"Practical_marks":Practical_marks}
    
print(data)

Enter n= 2
Enter name= moo
Enter sub= 445
Enter th= 44
Enter prac= 4
Enter name=
Enter sub= 4
Enter th= r
Enter prac= g
{1: {'Name': 'moo', 'Subject': '445', 'Theory_marks': '44', 'Practical_marks': '4'}, 2: {'Name': '', 'Subject': '4', 'Theory_marks': 'r', 'Practical_marks': 'g'}}

####